{% load static %}

<html lang="ko">
    <head>
        <title>뭘봐 - 몰카 의심 화장실 제보</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1><a class="site-title" href="/">뭘봐</a></h1>
                <div class="member-menu">
                    {% if user.is_authenticated %}
                    <p class="top-menu"><span id="user_name">{{ user.username }}</span>님, 안녕하세요 <small>(<a href="{% url 'logout' %}">로그아웃</a>)</small></p>
                    <br>
                    <a class="top-menu" href="{% url 'memberpost_list' %}">작성 글</a>
                    <a class="top-menu" href="{% url 'membercomment_list' %}">작성 댓글</a>
                    <a class="top-menu" href="{% url 'member_info' %}">회원정보</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu">로그인</a>
                        <a href="{% url 'signup' %}" class="top-menu">회원가입</a>
                    {% endif %}
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'noticepost_list' %}">공지게시판</a>
                        </li>
                        <li>
                            <a href="{% url 'reportpost_list' %}">제보게시판</a>
                        </li>
                        <li>
                            <a href="{% url 'freepost_list' %}">자유게시판</a>
                        </li>
                        <li>
                            <a href="{% url 'proposalpost_list' %}">건의/신고게시판</a>
                        </li>
                    </ul>
                    <div class="search-bar">
                        <input type="text" value="검색 기능 준비중">
                        <button type="submit"></button>
                    </div>
                </nav>
            </header>
            <section>
                {% block content %}
                {% endblock %}
            </section>
            <footer>
                <div class="footer-box">

                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
        <script type="text/javascript">
            // 인증에 따른 수정, 삭제 버튼 숨김처리. 출처 : 초보몽키의 개발공부로그
            for(i = 0; i < $(".author_name").length; i++){
                if($("#user_name").text() == $(".author_name")[i].innerHTML){
                    $("#control_id"+i).removeClass("hidden");
                }
            }
            if($("#user_name").text() == $(".author_name")[0].innerHTML){
                    $("#control_id").removeClass("hidden");
            }
        </script>
    </body>
</html>