{% extends 'board/base.html' %}
{% load hitcount_tags %}

{% block content %}
    <div class="board-explanation row">
        <div class="col">
            <div class="md-font text-700">베스트게시판</div>
            <div class="xs-font my-3">
                뭘봐의 베스트게시판입니다. 게시글의 모든 저작권은 작성자에게 있습니다.<br>
                모든 게시판에서 순 추천수가 15개 이상인 게시물이 자동으로 업로드됩니다.
            </div>
        </div>
    </div>
    <div class="board-table row no-gutters">
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">게시판</div>
        <div class="table-line-thick col-8 col-md-7 py-2 text-center text-700 xs-font">제목</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font d-none d-md-inline-block">글쓴이</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">날짜</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">조회</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">추천</div>
        <div class="w-100"></div>
        {% for notice_top in notice_tops %}
            <div class="table-line notice col-1 py-2 text-center text-700 xs-font">[공지]</div>
            <div class="table-line notice col-8 col-md-7 py-2 text-700">
                <a href="{% url 'noticepost_detail' pk=notice_top.pk %}">
                    <div class="truncate sm-font">
                        {{ notice_top.title }}
                    </div>
                </a>
            </div>
            <div class="table-line notice col-1 py-2 text-center d-none d-md-inline-block"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="w-100"></div>
        {% endfor %}
        {% for bestpost in bestposts %}
            <div class="table-line col-1 py-2 text-center text-700">
                {% if bestpost.board == "Free" %}
                    <a class="xs-font" href="{% url 'freepost_list' %}">
                        [자유]
                    </a>
                {% elif bestpost.board == "Report" %}
                    <a class="xs-font" href="{% url 'reportpost_list' %}">
                        [제보]
                    </a>
                {% elif bestpost.board == "Proposal" %}
                    <a class="xs-font" href="{% url 'proposalpost_list' %}">
                        [건/신]
                    </a>
                {% else %}
                    <a class="xs-font" href="{% url 'noticepost_list' %}">
                        [공지]
                    </a>
                {% endif %}
            </div>
            <div class="table-line col-8 col-md-7 py-2">
                {% if bestpost.board == "Free" %}
                    <a href="{% url 'freepost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {{ bestpost.title }}
                        </div>
                        {% if bestpost.freecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.freecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif bestpost.board == "Report" %}
                    <a href="{% url 'reportpost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  bestpost.show_area}}] [ {{ bestpost.specific_area }} ] {{ bestpost.title }}
                        </div>
                        {% if bestpost.reportcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.reportcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif bestpost.board == "Proposal" %}
                    <a href="{% url 'proposalpost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  bestpost.show_proposal_type}}] {{ bestpost.title }}
                        </div>
                        {% if bestpost.proposalcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.proposalcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{% url 'noticepost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {% if bestpost.notice_type == 1 %}
                                [필독] 
                            {% endif %}
                            {{ bestpost.title }}
                        </div>
                        {% if bestpost.noticecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.noticecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="table-line col-1 py-2 text-center d-none d-md-inline-block">
                <a class="xs-font" href="{% url 'member_info' member_pk=bestpost.author.pk %}">{{ bestpost.author.nickname }}</a>
            </div>
            <div class="table-line col-1 py-2 text-center d-inline-block d-md-none xs-font">
                {{ bestpost.published_date_for_board_phone }}
            </div>
            <div class="table-line col-1 py-2 text-center d-none d-md-inline-block xs-font">
                {{ bestpost.published_date_for_board }}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {% get_hit_count for bestpost %}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {{ bestpost.likes_minus_hates }}
            </div>
            <div class="w-100"></div>
    {% endfor %}
    </div>

    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination mt-5">
        <li class="page-item"><a class="page-link" href="?page=1&q={{ q }}&search-option={{ filter_type }}">&laquo;</a></li>
        {% if bestposts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ bestposts.previous_page_number }}&q={{ q }}&search-option={{ filter_type }}">&lt;</a></li>
        {% endif %}
        {% if bestposts.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ bestposts.number|add:'-5' }}&q={{ q }}&search-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% for i in bestposts.paginator.page_range %}
            {% if bestposts.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > bestposts.number|add:'-5' and i < bestposts.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ q }}&search-option={{ filter_type }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if bestposts.paginator.num_pages > bestposts.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ bestposts.number|add:'5' }}&q={{ q }}&search-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% if bestposts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ bestposts.next_page_number }}&q={{ q }}&search-option={{ filter_type }}">&gt;</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ bestposts.paginator.num_pages }}&q={{ q }}&search-option={{ filter_type }}">&raquo;</a></li>
    </ul>
{% endblock %}
