{% extends 'board/base.html' %}
{% load hitcount_tags %}

{% block content %}
    <div class="board-explanation row no-gutters pl-3 ">
        <div class="col">
            <div class="md-font text-700">자유게시판</div>
            <div class="xs-font my-3">
                뭘봐의 자유게시판입니다. 게시글의 모든 저작권은 작성자에게 있습니다.
            </div>
        </div>
    </div>
    <div class="board-table row no-gutters">
        <div class="table-line-thick col-9 col-md-8 py-2 text-center text-700 sm-font">제목</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 sm-font d-none d-md-inline-block">글쓴이</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 sm-font">날짜</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 sm-font">조회</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 sm-font">추천</div>
        <div class="w-100"></div>
        {% for notice_top in notice_tops %}
            <div class="table-line notice col-9 col-md-8 py-2 text-700">
                <a href="{% url 'noticepost_detail' pk=notice_top.pk %}">
                    <div class="truncate sm-font pl-1">
                        [공지] {{ notice_top.title }}
                    </div>
                </a>
            </div>
            <div class="table-line notice col-1 py-2 text-center d-none d-md-inline-block"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="table-line notice col-1 py-2 text-center"></div>
            <div class="w-100"></div>
        {% endfor %}
        {% for freepost in freeposts %}
            <div class="table-line col-9 col-md-8 py-2">
                <a href="{% url 'freepost_detail' pk=freepost.pk %}">
                    <div class="truncate d-inline-block v-align sm-font pl-1">
                        {{ freepost.title }}
                    </div>
                    {% if freepost.freecomments.count %}
                        <div class="comment-count d-inline-block sm-font">
                            [{{ freepost.freecomments.count }}]
                        </div>
                    {% endif %}
                </a>
            </div>
            <div class="table-line col-1 py-2 text-center d-none d-md-inline-block">
                <a class="xs-font" href="{% url 'member_info' member_pk=freepost.author.pk %}">
                    <div class="truncate-full d-inline-block v-align xs-font">
                        {{ freepost.author.nickname.nickname }}
                    </div>
                </a>
            </div>
            <div class="table-line col-1 py-2 text-center d-inline-block d-md-none xs-font">
                {{ freepost.published_date_for_board_phone }}
            </div>
            <div class="table-line col-1 py-2 text-center d-none d-md-inline-block xs-font">
                {{ freepost.published_date_for_board }}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {% get_hit_count for freepost %}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {{ freepost.likes_minus_hates }}
            </div>
            <div class="w-100"></div>
        {% endfor %}
    </div>
    <div class="bottom-bar row no-gutters">
        <div class="search-bar col-7 col-md-4">
            <form class="form-group" method="GET" accept-charset="utf-8" action="{% url 'freepost_list' %}">
                {% csrf_token %}
                <div class="row no-gutters">
                    <select class="form-control form-control-sm col-3" name="search-option">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="title-content">제목+내용</option>
                        <option value="nickname">닉네임</option>
                    </select>
                    <input class="form-control form-control-sm mx-2 col" type="text" name="q" value="{{ q }}">
                    <button class="btn btn-sm btn-outline-primary col-2" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        {% if user.is_authenticated %}
        <div class="new-post col-2 offset-3 offset-md-6">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'freepost_new' %}" role="button"><i class="fas fa-pen sm-font">글쓰기</i></a>
        </div>
    {% endif %}
    </div>

    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1&q={{ q }}&search-option={{ filter_type }}">&laquo;</a></li>
        {% if freeposts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ freeposts.previous_page_number }}&q={{ q }}&search-option={{ filter_type }}">&lt;</a></li>
        {% endif %}
        {% if freeposts.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ freeposts.number|add:'-5' }}&q={{ q }}&search-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% for i in freeposts.paginator.page_range %}
            {% if freeposts.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > freeposts.number|add:'-5' and i < freeposts.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ q }}&search-option={{ filter_type }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if freeposts.paginator.num_pages > freeposts.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ freeposts.number|add:'5' }}&q={{ q }}&search-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% if freeposts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ freeposts.next_page_number }}&q={{ q }}&search-option={{ filter_type }}">&gt;</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ freeposts.paginator.num_pages }}&q={{ q }}&search-option={{ filter_type }}">&raquo;</a></li>
    </ul>
{% endblock %}
    