{% extends 'board/base.html' %}
{% load hitcount_tags %}

{% block content %}
    {% for freepost in freeposts %}
        <div class="post">
            <div class="date">
                {{ freepost.published_date }}
            </div>
            <div class="hitcount">
                조회수: {% get_hit_count for freepost %}
            </div>
            <div class="likes_and_hates">좋아요: {{ freepost.total_likes }} 싫어요: {{ freepost.total_hates }}</div>   
            <p>{{ freepost.author }}</p>
            <a class="title" href="{% url 'freepost_detail' pk=freepost.pk %}">{{ freepost.title }}<span class="number_of_counts">[{{ freepost.freecomments.count }}]</span></a>
        </div>
    {% endfor %}
    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination">
        <li><a href="?page=1">&laquo; 첫 페이지</a></li>
        {% if freeposts.has_previous %}
            <li><a href="?page={{ freeposts.previous_page_number }}">이전</a></li>
        {% endif %}
        
        {% if freeposts.number|add:'-4' > 1 %}
        <li><a href="?page={{ freeposts.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}
        
        {% for i in freeposts.paginator.page_range %}
            {% if freeposts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > freeposts.number|add:'-5' and i < freeposts.number|add:'5' %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if freeposts.paginator.num_pages > freeposts.number|add:'4' %}
            <li><a href="?page={{ freeposts.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if freeposts.has_next %}
            <li><a href="?page={{ freeposts.next_page_number }}">다음</a></li>
        {% endif %}
        <li><a href="?page={{ freeposts.paginator.num_pages }}">끝 페이지 &raquo;</a></li>
    </ul>
    {% if user.is_authenticated %}
        <div class="new_post">
            <a href="{% url 'freepost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    {% endif %}
{% endblock %}
