{% extends 'board/base.html' %}

{% block content %}
    <div class="board-table row no-gutters my-4">
        <div class="notice col table-line-thick">
            <a class="md-font text-700" href="{% url 'bestpost_list' %}">
                베스트게시판
            </a>
        </div>
        <div class="w-100"></div>
        {% for bestpost in bestposts %}
            <div class="table-line col py-2">
                {% if bestpost.board == "Free" %}
                    <a href="{% url 'freepost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {{ bestpost.title }}
                        </div>
                        {% if bestpost.freecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.freecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif bestpost.board == "Report" %}
                    <a href="{% url 'reportpost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  bestpost.show_area}}] [ {{ bestpost.specific_area }} ] {{ bestpost.title }}
                        </div>
                        {% if bestpost.reportcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.reportcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif bestpost.board == "Proposal" %}
                    <a href="{% url 'proposalpost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  bestpost.show_proposal_type}}] {{ bestpost.title }}
                        </div>
                        {% if bestpost.proposalcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.proposalcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{% url 'noticepost_detail' pk=bestpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {% if bestpost.notice_type == 1 %}
                                [필독] 
                            {% endif %}
                            {{ bestpost.title }}
                        </div>
                        {% if bestpost.noticecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ bestpost.noticecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="w-100"></div>
        {% endfor %}
    </div>
    <div class="board-table row no-gutters">
        <div class="col col-md-6">
            <div class="row no-gutters mr-md-2 my-3">
                <div class="notice col table-line-thick">
                    <a class="md-font text-700" href="{% url 'reportpost_list' %}">
                        제보게시판
                    </a>
                </div>
                <div class="w-100"></div>
                {% for reportpost in reportposts %}
                    <div class="table-line col py-2">
                        <a href="{% url 'reportpost_detail' pk=reportpost.pk %}">
                            <div class="truncate d-inline-block v-align sm-font">
                                [{{ reportpost.show_area }}][{{ reportpost.specific_area }}]{{ reportpost.title }}
                            </div>
                            {% if reportpost.reportcomments.count %}
                                <div class="comment-count d-inline-block sm-font">
                                    [{{ reportpost.reportcomments.count }}]
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="w-100"></div>
                {% endfor %}
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row no-gutters ml-md-2 my-3">
                <div class="notice col table-line-thick">
                    <a class="md-font text-700" href="{% url 'freepost_list' %}">
                        자유게시판
                    </a>
                </div>
                <div class="w-100"></div>
                {% for freepost in freeposts %}
                    <div class="table-line col py-2">
                        <a href="{% url 'freepost_detail' pk=freepost.pk %}">
                            <div class="truncate d-inline-block v-align sm-font">
                                {{ freepost.title }}
                            </div>
                            {% if freepost.freecomments.count %}
                                <div class="comment-count d-inline-block sm-font">
                                    [{{ freepost.freecomments.count }}]
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="w-100"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="board-table row no-gutters">
        <div class="col col-md-6">
            <div class="row no-gutters mr-md-2 my-3">
                <div class="notice col table-line-thick">
                    <a class="md-font text-700" href="{% url 'proposalpost_list' %}">
                        건의/신고게시판
                    </a>
                </div>
                <div class="w-100"></div>
                {% for proposalpost in proposalposts %}
                    <div class="table-line col py-2">
                        <a href="{% url 'proposalpost_detail' pk=proposalpost.pk %}">
                            <div class="truncate d-inline-block v-align sm-font">
                                [{{ proposalpost.show_proposal_type }}]{{ proposalpost.title }}
                            </div>
                            {% if proposalpost.proposalcomments.count %}
                                <div class="comment-count d-inline-block sm-font">
                                    [{{ proposalpost.proposalcomments.count }}]
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="w-100"></div>
                {% endfor %}
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row no-gutters mr-md-2 my-3">
                <div class="notice col table-line-thick">
                    <a class="md-font text-700" href="{% url 'noticepost_list' %}">
                        공지게시판
                    </a>
                </div>
                <div class="w-100"></div>
                {% for noticepost in noticeposts %}
                    <div class="table-line col py-2">
                        <a href="{% url 'noticepost_detail' pk=noticepost.pk %}">
                            <div class="truncate d-inline-block v-align sm-font">
                                {% if noticepost.notice_type == 1 %}
                                    [필독]
                                {% endif %}
                                {{ noticepost.title }}
                            </div>
                            {% if noticepost.noticecomments.count %}
                                <div class="comment-count d-inline-block sm-font">
                                    [{{ noticepost.noticecomments.count }}]
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}