{% extends 'board/base.html' %}
{% load hitcount_tags %}

{% block content %}
    <div class="row no-gutters mt-3">
        <ul class="nav nav-tabs col px-1 py-2" style="margin-bottom:2%;">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'member_info' member_pk=member.pk%}">회원정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'memberpost_list' member_pk=member.pk%}">작성 글</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'membercomment_list' member_pk=member.pk%}">작성 댓글</a>
            </li>
        </ul>
    </div>
    <div class="ro no-gutters">
        <div class="colpx-1 py-2 lg-font">
            {{ member.nickname.nickname }} 님의 작성 글 목록
        </div>
    </div>
    <div class="board-table row no-gutters mt-3">
        <div class="table-line-thick col-2 col-md-1 py-2 text-center text-700 xs-font">게시판</div>
        <div class="table-line-thick col-7 col-md-8 py-2 text-center text-700 xs-font">제목</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">날짜</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">조회</div>
        <div class="table-line-thick col-1 py-2 text-center text-700 xs-font">추천</div>
        <div class="w-100"></div>
        {% for memberpost in memberposts %}
            <div class="table-line col-2 col-md-1 py-2 text-center text-700">
                {% if memberpost.board == "Free" %}
                    <a class="xs-font" href="{% url 'freepost_list' %}">
                        [자유]
                    </a>
                {% elif memberpost.board == "Report" %}
                    <a class="xs-font" href="{% url 'reportpost_list' %}">
                        [제보]
                    </a>
                {% elif memberpost.board == "Proposal" %}
                    <a class="xs-font" href="{% url 'proposalpost_list' %}">
                        [건/신]
                    </a>
                {% else %}
                    <a class="xs-font" href="{% url 'noticepost_list' %}">
                        [공지]
                    </a>
                {% endif %}
            </div>
            <div class="table-line col-7 col-md-8 py-2">
                {% if memberpost.board == "Free" %}
                    <a href="{% url 'freepost_detail' pk=memberpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {{ memberpost.title }}
                        </div>
                        {% if memberpost.freecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ memberpost.freecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif memberpost.board == "Report" %}
                    <a href="{% url 'reportpost_detail' pk=memberpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  memberpost.show_area}}] [ {{ memberpost.specific_area }} ] {{ memberpost.title }}
                        </div>
                        {% if memberpost.reportcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ memberpost.reportcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% elif memberpost.board == "Proposal" %}
                    <a href="{% url 'proposalpost_detail' pk=memberpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            [{{  memberpost.show_proposal_type}}] {{ memberpost.title }}
                        </div>
                        {% if memberpost.proposalcomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ memberpost.proposalcomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{% url 'noticepost_detail' pk=memberpost.pk %}">
                        <div class="truncate d-inline-block v-align sm-font">
                            {% if memberpost.notice_type == 1 %}
                                [필독] 
                            {% endif %}
                            {{ memberpost.title }}
                        </div>
                        {% if memberpost.noticecomments.count %}
                            <div class="comment-count d-inline-block sm-font">
                                [{{ memberpost.noticecomments.count }}]
                            </div>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="table-line col-1 py-2 text-center d-inline-block d-md-none xs-font">
                {{ memberpost.published_date_for_board_phone }}
            </div>
            <div class="table-line col-1 py-2 text-center d-none d-md-inline-block xs-font">
                {{ memberpost.published_date_for_board }}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {% get_hit_count for memberpost %}
            </div>
            <div class="table-line col-1 py-2 text-center xs-font">
                {{ memberpost.likes_minus_hates }}
            </div>
            <div class="w-100"></div>
        {% endfor %}
    </div>

    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination mt-5">
        <li class="page-item"><a class="page-link" href="?page=1&q={{ q }}&member-option={{ filter_type }}">&laquo;</a></li>
        {% if memberposts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ memberposts.previous_page_number }}&q={{ q }}&member-option={{ filter_type }}">&lt;</a></li>
        {% endif %}
        {% if memberposts.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ memberposts.number|add:'-5' }}&q={{ q }}&member-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% for i in memberposts.paginator.page_range %}
            {% if memberposts.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > memberposts.number|add:'-5' and i < memberposts.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ q }}&member-option={{ filter_type }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if memberposts.paginator.num_pages > memberposts.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ memberposts.number|add:'5' }}&q={{ q }}&member-option={{ filter_type }}">&hellip;</a></li>
        {% endif %}
        {% if memberposts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ memberposts.next_page_number }}&q={{ q }}&member-option={{ filter_type }}">&gt;</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ memberposts.paginator.num_pages }}&q={{ q }}&member-option={{ filter_type }}">&raquo;</a></li>
    </ul>
{% endblock %}
