{% extends 'board/base.html' %}
{% load hitcount_tags %}

{% block content %}
    <h2>작성 글 목록</h2>
    <table class="board-table">
        <tr>
            <th>제목</th>
            <th>날짜</th>
            <th>조회</th>
            <th>추천</th>
        </tr>
        {% for memberpost in memberposts %}
        <tr>
            <div class="post">
                <td>
                    {% if memberpost.board == "Free" %}
                        <a href="{% url 'freepost_detail' pk=memberpost.pk %}">
                            {{ memberpost.title }} 
                            {% if memberpost.freecomments.count %}
                                [{{ memberpost.freecomments.count }}]
                            {% endif %}
                        </a>
                    {% elif memberpost.board == "Report" %}
                        <a href="{% url 'reportpost_detail' pk=memberpost.pk %}">
                            [{{  reportpost.show_area}}] [ {{ reportpost.specific_area }} ] {{ reportpost.title }}
                            {% if reportpost.reportcomments.count %}
                                [{{ reportpost.reportcomments.count }}]
                            {% endif %}
                        </a>
                    {% elif memberpost.board == "Proposal" %}
                        <a href="{% url 'proposalpost_detail' pk=memberpost.pk %}">
                            [{{  proposalpost.show_proposal_type}}] {{ proposalpost.title }}
                            {% if proposalpost.proposalcomments.count %}
                                [{{ proposalpost.proposalcomments.count }}]
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{% url 'noticepost_detail' pk=memberpost.pk %}">
                            {{ memberpost.title }}
                            {% if memberpost.noticecomments.count %}
                                [{{ memberpost.noticecomments.count }}]
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <div class="date">
                            {{ memberpost.published_date_for_board }}
                    </div>
                </td>
                <td>
                    <div class="hitcount">
                            조회수: {% get_hit_count for memberpost %}
                    </div>
                </td>
                <td>
                    <div class="likes_and_hates">{{ memberpost.likes_minus_hates }}</div>   
                </td>
            </div>
        </tr>
        {% endfor %}
    </table>
    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination">
            <li><a href="?page=1">&laquo; 첫 페이지</a></li>
            {% if memberposts.has_previous %}
                <li><a href="?page={{ memberposts.previous_page_number }}">이전</a></li>
            {% endif %}
            
            {% if memberposts.number|add:'-4' > 1 %}
            <li><a href="?page={{ memberposts.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
            
            {% for i in memberposts.paginator.page_range %}
                {% if memberposts.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > memberposts.number|add:'-5' and i < memberposts.number|add:'5' %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if memberposts.paginator.num_pages > memberposts.number|add:'4' %}
                <li><a href="?page={{ memberposts.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
    
            {% if memberposts.has_next %}
                <li><a href="?page={{ memberposts.next_page_number }}">다음</a></li>
            {% endif %}
            <li><a href="?page={{ memberposts.paginator.num_pages }}">끝 페이지 &raquo;</a></li>
        </ul>
{% endblock %}