{% extends 'board/base.html' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'member_info' member_pk=member.pk%}">회원정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'memberpost_list' member_pk=member.pk%}">작성 글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'membercomment_list' member_pk=member.pk%}">작성 댓글</a>
        </li>
    </ul>
    {% if member.pk == user.pk %}
        <h2>작성 댓글 목록</h2>
    {% else %}
        <h2>{{ member.nickname }}님의 작성 댓글 목록</h2>
    {% endif %}
    <table class="board-table">
        <tr>
            <th>댓글</th>
            <th>삭제</th>
            <th>날짜</th>
            <th>추천/비추천</th>
        </tr>
        {% for membercomment in membercomments %}
        <tr>
            <div class="post">
                <td>
                    {% if membercomment.post.board == "Free" %}
                        <a href="{% url 'freepost_detail' pk=membercomment.post.pk %}">{{ membercomment.content }}</a>
                    {% elif membercomment.post.board == "Report" %}
                        <a href="{% url 'reportpost_detail' pk=membercomment.post.pk %}">{{ membercomment.content }}</a>
                    {% elif membercomment.post.board == "Proposal" %}
                        <a href="{% url 'proposalpost_detail' pk=membercomment.post.pk %}">{{ membercomment.content }}</a>
                    {% else %}
                        <a href="{% url 'noticepost_detail' pk=membercomment.post.pk %}">{{ membercomment.content }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if member.pk == user.pk %}
                        <div class="delete-comments">
                            {% if membercomment.post.board == "Free" %}
                                <a href="{% url 'freecomment_remove' pk=membercomment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a>
                            {% elif membercomment.post.board == "Report" %}
                                <a href="{% url 'reportcomment_remove' pk=membercomment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a>
                            {% elif membercomment.post.board == "Proposal" %}
                                <a href="{% url 'proposalcomment_remove' pk=membercomment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a>
                            {% else %}
                                <a href="{% url 'noticecomment_remove' pk=membercomment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <div class="date">
                        {{ membercomment.published_date_for_board }}
                    </div>
                </td>
                <td>
                    <div class="likes_and_hates">{{ membercomment.total_likes }} / -{{ membercomment.total_hates }}</div> 
                </td>
            </div>
        </tr>
        {% endfor %}
    </table>
    <!-- pagination dispaly by Rob L from Stack Overflow -->
    <ul class="pagination">
            <li><a href="?page=1">&laquo; 첫 페이지</a></li>
            {% if membercomments.has_previous %}
                <li><a href="?page={{ membercomments.previous_page_number }}">이전</a></li>
            {% endif %}
            
            {% if membercomments.number|add:'-4' > 1 %}
            <li><a href="?page={{ membercomments.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
            
            {% for i in membercomments.paginator.page_range %}
                {% if membercomments.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > membercomments.number|add:'-5' and i < membercomments.number|add:'5' %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if membercomments.paginator.num_pages > membercomments.number|add:'4' %}
                <li><a href="?page={{ membercomments.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
    
            {% if membercomments.has_next %}
                <li><a href="?page={{ membercomments.next_page_number }}">다음</a></li>
            {% endif %}
            <li><a href="?page={{ membercomments.paginator.num_pages }}">끝 페이지 &raquo;</a></li>
        </ul>
{% endblock %}