@media only screen and (min-width: 1024px){
    body {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 500 !important;
    }

    #wrapper {
        width: 820px;
        margin: 0 auto;
        position: relative;
        min-height: 100%;
    }

    header {
        margin: 2em 0;
    }

    .top-menu {
        display: inline-block;
        margin: 0 10px;
    }

    nav .search-bar {
        width: 15%;
        height: 26px;
        display: inline-block;
        margin: 0 0 0 3%;
        background: white;
    }

    nav .search-bar input {
        width: 99px;
    }

    .search-bar input {
        width: 160px;
    }

    .search-bar button {
        background: url("images/search.png") no-repeat;
        background-size: contain;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    table {
        text-indent: 1%;
    }
    .home-best {
        width: 100%;
        margin: 20px 0;
        height: 216px;
    }

    .home-board-left {
        width: 48%;
        display: inline-block;
        margin: 20px 1.7% 20px 0px;
        height: 216px;
    }
    
    .home-board-right {
        width: 48%;
        display: inline-block;
        margin: 20px 0px 20px 1.7%;
        height: 216px;
    }
    
    .board-table, .board-table-best {
        margin: 24px auto;
        width: 100%;
        font-size: 14px;
        line-height: 36px;
    }

    .home-best tr, .home-board-left tr, .home-board-right tr{
        font-size: 14px;
        line-height: 36px;
        height: 36px;
    }

    .board-table tr .title {
        width: 70%;
    }

    .board-table-best tr .board-name {
        width: 9%;
        font-size: 12px;
        text-align: center;
    }

    .board-table-best tr .title {
        width: 61%;
    }

    .board-table tr .nickname, .board-table-best tr .nickname {
        width: 10%;
        text-align: center;
        font-size: 12px;
    }

    .board-table tr .date, .board-table-best tr .date {
        width: 8%;
        text-align: center;
        font-size: 12px;
    }

    .board-table tr .hitcount, .board-table-best tr .hitcount {
        width: 7%;
        text-align: center;
        font-size: 12px;
    }

    .board-table tr .likes_and_hates, .board-table-best tr .likes_and_hates {
        width: 5%;
        text-align: center;
        font-size: 12px;
    }

    .board-table a, .board-table a:hover, .board-table-best a, .board-table-best a:hover,
    .home-best a, .home-board-left a, .home-board-right a {
        color: #333333;
    }

    .board-table a:visited, .board-table-best a:visited,
    .home-best a:visited, .home-board-left a:visited, .home-board-right a:visited {
        color: #777777;
    }
    
    .comment-count {
        color: red;
        font-weight: 700;
    }

    .notice a {
        font-weight: 700;
    }

    .notice, .home-best th, .home-board-left th, .home-board-right th {
        background: #f0f0f0;
    }

    .board-table th, .board-table-best th {
        text-align: center;
    }

    .site-title {
        font-size: 36px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 720px){
    body {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 500 !important;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        min-height: 100%;
    }

    #wrapper p {
        font-size: 12px;
    }

    header {
        margin: 10px 0;
    }

    .top-menu {
        display: inline-block;
        margin: 0 1px;
        font-size: 10px;
    }

    nav {
        width: 100%;
        height: 25px;
        position: relative;
        background-color: #0055FF;
        border-radius: 3px;
    }

    nav ul {
        width: 80%;
        display: inline-block;
        position: aboslute;
        left: 0;
    }
    
    nav ul li {
        left: 0;
        width: 60px;
        text-align: center;
        display: inline-block;
        font-size: 8px;
        font-weight: 600 !important;
    }

    nav .search-bar {
        width: 15%;
        height: 25px;
        display: inline-block;
        background: white;
        position: absolute;
        right: 0;
    }

    nav .search-bar input {
        width: 60px;
        height: 24px;
    }

    .search-bar input {
        width: 100px;
    }

    .search-bar button {
        background: url("images/search.png") no-repeat;
        background-size: contain;
        border: none;
        width: 15px;
        height: 15px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }

    .board-table {
        font-size: 14px;
    }

    .site-title {
        font-size: 36px;
    }

    table {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 2px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1024px){
    body {
        width: 100%;
        font-family: 'Nanum Gothic', sans-serif !important;
        font-weight: 500 !important;
        font-size: 12px;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        min-height: 100%;
    }

    header {
        margin: 10px 0;
    }

    .top-menu {
        display: inline-block;
        margin: 0 1px;
        font-size: 10px;
    }

    nav {
        width: 100%;
        height: 25px;
        position: relative;
        background-color: #0055FF;
        border-radius: 3px;
    }

    nav ul {
        width: 80%;
        display: inline-block;
        position: aboslute;
        left: 0;
    }
    
    nav ul li {
        left: 0;
        width: 60px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        font-weight: 600 !important;
        margin: 0 12px;
    }

    nav .search-bar {
        width: 15%;
        height: 25px;
        display: inline-block;
        background: white;
        position: absolute;
        right: 0;
    }

    nav .search-bar input {
        width: 60px;
        height: 24px;
    }

    .search-bar input {
        width: 100px;
    }

    .search-bar button {
        background: url("images/search.png") no-repeat;
        background-size: contain;
        border: none;
        width: 15px;
        height: 15px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }

    .board-table {
        font-size: 14px;
    }

    .site-title {
        font-size: 36px;
    }

    table {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 2px;
    }
}

header h1 {
    display: inline-block;
}

.member-menu {
    display: inline-block;
    position: absolute;
    right: 0;
}

.search-bar {
    display: inline-block;
}

.site-title {
    color: red;
    font-family: 'Black And White Picture', sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li a, nav ul li a:active, nav ul li a:visited, nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

table tr {
    border-top: rgba(112, 109, 109, 0.3) solid 1px;
    border-bottom: rgba(112, 109, 109, 0.3) solid 1px;
}

table th {
    border-top: rgba(112, 109, 109, 0.6) solid 1px;
    border-bottom: rgba(112, 109, 109, 0.6) solid 1px;
}

.bottom-bar {
    position: relative;
}

.bottom-bar .new-post {
    position: absolute;
    display: inline-block;
    right: 0;
}

footer {
    width: 100%;
    height: 0.1em;
    border-top: solid gray 0.1em;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
}

.footer-box {
    height: 3em;
}

.board-table {
    width: 100%;
}

.title {
    width: 75%;
}